﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Kütüphane.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 169px;
            height:85px;
       
           
            }   
        .auto-style4
        {
            color: #6C0204;
        }
        .auto-style8
        {
            width: 62px;
        }
        .auto-style9
        {
            width: 850px;
            border-style: solid;
            border-width: 0px;
        }
        .auto-styleOrta
        {
            vertical-align:top;/*imleci en üste başlatır*/
           
            width: 810px;
            background-color: #FFFFFF;
        }
        .auto-style13
        {            background-color: #6C0204;
        }
        .auto-style15
        {
            vertical-align:top;
            width: 159px;
            background-color: #FFFFFF;
        }
        .auto-style16
        {
            width: 63%;
        }
        .auto-style17
        {
            height: 4px;
           /* background-color: #6C0204;*/
        }
        .auto-style18
        {
            width: 850px;
            height: 154px;
        }
        .auto-style19
        {
            width: 91px;
        }
        .auto-style20
        {
            height: 38px;
        }
        </style>
</head>
<body>

    <form id="form1" runat="server">
    <div style="height: 688px; background:url(/images/arkaplan.jpg); width: 100%; margin-left: 0px; margin-top: 0px;">
        <table align="center" class="auto-style9" border="0">
            <tr>
                <td align="center" colspan="2" style="background-color: #6C0204; text-align: left;" class="auto-style20">
                    <asp:Label ID="lbnGiris" runat="server" style="color: #FFFFFF; font-weight: 700" Text="Lütfen linklere erişebilmek için giriş yapınız !!!"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Label ID="Label6" runat="server" style="font-weight: 700; color: #993300" Text="Siteye Toplam Ziyaret Eden Kişi Sayısı :"></asp:Label>
&nbsp;<asp:Label ID="lblZiyaretci" runat="server" ForeColor="#33CCFF"></asp:Label>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2" style="background-color: #6C0204">
                    <img alt="" class="auto-style18" src="images/bannerr.png" /></td>
            </tr>
            <tr>
                <td class="auto-style17" colspan="2">
                    <asp:Button ID="btnAnasayfa" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Text="Anasayfa" Width="89px" Enabled="False" OnClick="btnAnasayfa_Click" />
                &nbsp;
                    <asp:Button ID="btnKitapAra" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Text="Kitap Ara" Width="89px" Enabled="False" OnClick="btnAnasayfa_Click" />
                &nbsp;
                    <asp:Button ID="btnİletisim" runat="server"  Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px"  Text="İletişim" Enabled="False" OnClick="btnİletisim_Click" />
                &nbsp;<asp:Button ID="txtHak" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px" Text="Hakkımızda" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                
                <td class="auto-style15">
        <table  align="center" class="auto-style1" border="1">
            <tr>
                <td class="auto-style8"> <asp:Label ID="Label4" runat="server" Text="E-Mail :" style="color: #6C0204; font-weight: 700;"></asp:Label>
                </td>
                <td class="auto-style19">
                    <asp:TextBox ID="txtEmail" runat="server" Width="82px"></asp:TextBox>
                </td>
              
            </tr>
            <tr>
                <td class="auto-style8">&nbsp;&nbsp;&nbsp;
                    <asp:Label ID="Label5" runat="server" style="text-align: right; font-weight: 700;" Text="Şifre :" CssClass="auto-style4"></asp:Label>
                </td>
                <td class="auto-style19">
                    <asp:TextBox ID="txtSifre" runat="server" EnableTheming="True" TextMode="Password" Width="83px"></asp:TextBox>
                </td>
               
            </tr>
            <tr>
                <td class="auto-style8"><asp:Button ID="btnUye" runat="server" Text="Üye Ol" OnClick="btnUye_Click" />
                </td>
                <td class="auto-style19">
                    <asp:Button ID="btnGiris" runat="server" OnClick="Button1_Click" Text="Giriş" />
                </td>
              
            </tr>
        </table>

                    

                    <asp:Label ID="lblHata" runat="server" ForeColor="#CCFF66" style="color: #FF0000; font-weight: 700;"></asp:Label>
                    <br />

                    

                    <table  align="center" class="auto-style16">
                        <tr>
                            <td><embed src="http://img7.xooimage.com/files/8/6/0/clock80-1446327.swf" quality="high" wmode="transparent" width="130" height="130" name="superpimper"  align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></td>
                        </tr>
                    </table>

                    

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
    
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:kutuphaneConnectionString %>" SelectCommand="SELECT FROM"></asp:SqlDataSource>
    
                    <br />

                    

                </td>
                <td class="auto-styleOrta">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr >
                <td class="auto-style13" colspan="2">&nbsp;</td>
            </tr>
        </table>
        
        &nbsp;&nbsp;&nbsp;</div>
    </form>
</body>
</html>
