﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="iletsim.aspx.cs" Inherits="Kütüphane.iletsim" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">

        .auto-style9
        {
            width: 297px;
            border-style: solid;
            border-width: 0px;
        }
        .auto-style20
        {
            height: 38px;
        }
        .auto-style18
        {
            width: 850px;
            height: 154px;
        }
        .auto-style17
        {
            height: 4px;
           /* background-color: #6C0204;*/
        }
        .auto-style15
        {
            vertical-align:top;
            width: 159px;
            background-color: #FFFFFF;
        }
        .auto-style16
        {
            width: 63%;
        }
        .auto-styleOrta
        {
            vertical-align:top;/*imleci en üste başlatır*/
           
            width: 810px;
            background-color: #FFFFFF;
        }
        .auto-style13
        {            background-color: #6C0204;
        }
        .auto-style21 {
            width: 44%;
        }
        .auto-style22 {
            width: 66px;
        }
        .auto-style23 {
            width: 40px;
        }
        .auto-style24 {
            width: 168px;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
   <div style="height: 688px; background:url(/images/arkaplan.jpg); width: 100%; margin-left: 0px; margin-top: 0px;">
    
        <table align="center" class="auto-style9" border="0">
            <tr>
                <td align="center" colspan="2" style="background-color: #6C0204; text-align: left;" class="auto-style20">
                    <asp:Label ID="lbnGiris" runat="server" style="color: #FFFFFF; font-weight: 700"></asp:Label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="btnCikis" runat="server" Text="Çıkış" OnClick="btnCikis_Click" />
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2" style="background-color: #6C0204">
                    <img alt="" class="auto-style18" src="images/bannerr.png" /></td>
            </tr>
            <tr>
                <td class="auto-style17" colspan="2">
                &nbsp;
                    &nbsp;
                    <asp:Button ID="Button1" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Text="Anasayfa" Width="89px" OnClick="Button1_Click"  />
                    &nbsp;<asp:Button ID="Button2" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px" Text="Kitap Ara" OnClick="Button2_Click"  />
                    &nbsp;<asp:Button ID="Button3" runat="server"  Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px"  Text="İletişim" OnClick="Button3_Click" />
                    &nbsp;<asp:Button ID="txtHak" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px" Text="Hakkımızda" OnClick="txtHak_Click" />
                    </td>
            </tr>
            <tr>
                
                <td class="auto-style15">

                    

                    <table  align="center" class="auto-style16">
                        <tr>
                            <td><embed src="http://img7.xooimage.com/files/8/6/0/clock80-1446327.swf" quality="high" wmode="transparent" width="130" height="130" name="superpimper"  align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></td>
                        </tr>
                    </table>

                    

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
    
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:kutuphaneConnectionString %>" SelectCommand="SELECT FROM"></asp:SqlDataSource>
    
                    <br />

                    

                </td>
                <td class="auto-styleOrta">

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <table align="center" class="auto-style21">
                        <tr>
                            <td class="auto-style22">Tel No</td>
                            <td class="auto-style23">:</td>
                            <td class="auto-style24">0(123)456789</td>
                        </tr>
                        <tr>
                            <td class="auto-style22">Adres</td>
                            <td class="auto-style23">:</td>
                            <td class="auto-style24">Senirkent/ISPARTA</td>
                        </tr>
                        <tr>
                            <td class="auto-style22">E-Mail</td>
                            <td class="auto-style23">:</td>
                            <td class="auto-style24"><a href="mailto:segnet@hotmail.com">segnet@hotmail.com</a></td>
                        </tr>
                        <tr>
                            <td class="auto-style22">Fax</td>
                            <td class="auto-style23">:</td>
                            <td class="auto-style24">0(123)987654</td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr >
                <td class="auto-style13" colspan="2">&nbsp;</td>
            </tr>
        </table>
        
    </div>
    </form>
</body>
</html>
