﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="KitapAra2.aspx.cs" Inherits="Kütüphane.KitapAra2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

        .auto-style9
        {
            width: 297px;
            border-style: solid;
            border-width: 0px;
        }
        .auto-style20
        {
            height: 38px;
        }
        .auto-style18
        {
            width: 850px;
            height: 154px;
        }
        .auto-style17
        {
            height: 4px;
           /* background-color: #6C0204;*/
        }
        .auto-style15
        {
            vertical-align:top;
            width: 159px;
            background-color: #FFFFFF;
        }
        .auto-style16
        {
            width: 63%;
        }
        .auto-styleOrta
        {
            vertical-align:top;/*imleci en üste başlatır*/
           
            width: 810px;
            background-color: #FFFFFF;
        }
        .auto-style13
        {            background-color: #6C0204;
        }
        .auto-style10 {
            width: 80px;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
   <div style="height: 919px; background:url(/images/arkaplan.jpg); width: 100%; margin-left: 0px; margin-top: 0px;">
    
        <table align="center" class="auto-style9" border="0">
            <tr>
                <td align="center" colspan="2" style="background-color: #6C0204; text-align: left;" class="auto-style20">
                    <asp:Label ID="lbnGiris" runat="server" style="color: #FFFFFF; font-weight: 700"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="btnCikis" runat="server" OnClick="btnCikis_Click" Text="Çıkış" />
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2" style="background-color: #6C0204">
                    <img alt="" class="auto-style18" src="images/bannerr.png" /></td>
            </tr>
            <tr>
                <td class="auto-style17" colspan="2">
                    <asp:Button ID="btnAnasayfa" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Text="Anasayfa" Width="89px" OnClick="btnAnasayfa_Click" />
                &nbsp;
                    <asp:Button ID="btnKitapAra" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px" Text="Kitap Ara" OnClick="btnKitapAra_Click" />
                &nbsp;
                    <asp:Button ID="btnİletisim" runat="server"  Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px"  Text="İletişim" OnClick="btnİletisim_Click"  />
                    &nbsp;<asp:Button ID="txtHak" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px" Text="Hakkımızda" OnClick="txtHak_Click" />
                    </td>
            </tr>
            <tr>
                
                <td class="auto-style15">

                    

                    <table  align="center" class="auto-style16">
                        <tr>
                            <td><embed src="http://img7.xooimage.com/files/8/6/0/clock80-1446327.swf" quality="high" wmode="transparent" width="130" height="130" name="superpimper"  align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></td>
                        </tr>
                    </table>

                    

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
    
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:kutuphaneConnectionString %>" SelectCommand="SELECT FROM"></asp:SqlDataSource>
    
                    <br />

                    

                </td>
                <td class="auto-styleOrta">
                    <br />
                    <br />
        <table align="center" class="auto-style9">
            <tr>
                <td class="auto-style10">Kitap Adı&nbsp; :</td>
                <td>
                    <asp:TextBox ID="txtKitapAdi" runat="server" Width="139px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style10">Yazar Adı&nbsp; :</td>
                <td>
                    <asp:TextBox ID="txtYazarAd" runat="server" Width="140px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style10">
                    <asp:Button ID="btnAra" runat="server" style="text-align: left; height: 26px;" Text="ARA" OnClick="btnAra_Click" />
                </td>
                <td>
                    <asp:Label ID="lblmesaj" runat="server"></asp:Label>
                </td>
            </tr>
            <tr>
                <td colspan="2"><asp:Repeater ID="Repeater1" runat="server">
                     <HeaderTemplate>
                            <table border="3" style="background-color:#ffffff">
                                <tr>
                                <td>KitapAdi</td>
                                <td>YazarAdi</td>
                                <td>YazarSoyadi</td>
                                <td>KayitTarihi</td>
                            </tr>

                       </HeaderTemplate>
                         <ItemTemplate>
                           
                            <tr>
                                <td><%# Eval("KitapAdi") %></td>
                                <td><%# Eval("YazarAdi") %></td>
                                <td><%# Eval("YazarSoyadi") %></td>
                                <td><%# Eval("KayitTarihi") %></td>
                            </tr>
                           
                        </ItemTemplate>
                        <FooterTemplate>
                             </table>
                        </FooterTemplate>
                    </asp:Repeater>
                    
                </td>
            </tr>
        </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr >
                <td class="auto-style13" colspan="2">&nbsp;</td>
            </tr>
        </table>
        
    </div>
    </form>
</body>
</html>
