﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="uyekaydi.aspx.cs" Inherits="Kütüphane.uyekaydi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">

        .auto-style6
        {
            color: #FF9933;
        }
        .auto-style7
        {
            font-weight: normal;
            color: #FFCC66;
        }
        .auto-style9 {
            width: 303px;
        }
        .auto-style20
        {
            height: 38px;
        }
        .auto-style18
        {
            width: 850px;
            height: 154px;
        }
        .auto-style17
        {
            height: 4px;
           /* background-color: #6C0204;*/
        }
        .auto-style15
        {
            vertical-align:top;
            width: 159px;
            background-color: #FFFFFF;
        }
        .auto-style16
        {
            width: 63%;
        }
        .auto-styleOrta
        {
            vertical-align:top;/*imleci en üste başlatır*/
           
            width: 810px;
            background-color: #FFFFFF;
        }
        .auto-style13
        {            background-color: #6C0204;
        }
        .auto-style5
        {
            width: 18%;
        }
        .auto-style8 {
            width: 45%;
            border-style: solid;
            border-width: 3px;
        }
        .auto-style21 {
            width: 113px;
        }
        .auto-style22 {
            width: 323px;
        }
        .auto-style23 {
            width: 373px;
        }
        .auto-style24 {
            width: 373px;
            height: 35px;
        }
        .auto-style25 {
            width: 323px;
            height: 35px;
        }
    </style>
</head>
<body style="height: 703px">
    <form id="form1" runat="server">
     <div style="height: 951px; background:url(/images/arkaplan.jpg); width: 100%; margin-left: 0px; margin-top: 0px;">
    
        <table align="center" class="auto-style9" border="0">
            <tr>
                <td align="center" colspan="2" style="background-color: #6C0204; text-align: left;" class="auto-style20">
                    <asp:Label ID="lbnGiris" runat="server" style="color: #FFFFFF; font-weight: 700"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
            </tr>
            <tr>
                <td align="center" colspan="2" style="background-color: #6C0204">
                    <img alt="" class="auto-style18" src="images/bannerr.png" /></td>
            </tr>
            <tr>
                <td class="auto-style17" colspan="2">
                    <asp:Button ID="Button3" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px"  OnClick="Button3_Click" Text="Anasayfa" />
                    &nbsp;
                    <asp:Button ID="Button4" runat="server" Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px"  Text="Kitap Ara" OnClick="Button4_Click" />
                    &nbsp;
                    <asp:Button ID="Button5" runat="server"  Height="31px" style="font-weight: 700; color: #FFFFFF; background-color: #993300" Width="89px" Text="İletişim" />
                    </td>
            </tr>
            <tr>
                
                <td class="auto-style15">

                    

                    <table  align="center" class="auto-style16">
                        <tr>
                            <td><embed src="http://img7.xooimage.com/files/8/6/0/clock80-1446327.swf" quality="high" wmode="transparent" width="130" height="130" name="superpimper"  align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></td>
                        </tr>
                    </table>

                    

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
    
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:kutuphaneConnectionString %>" SelectCommand="SELECT FROM"></asp:SqlDataSource>
    
                    <br />

                    

                </td>
                <td class="auto-styleOrta">
    
         <strong style="font-size: 20px"><span class="auto-style6"><table align="center" class="auto-style5">
            <tr>
                <td class="auto-style21"><strong style="font-size: 20px">&nbsp;ÜYE KAYDI</strong></td>
            </tr>
        </table>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <br />
         <table align="center" class="auto-style8">
             <tr>
                 <td class="auto-style23">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <asp:Label ID="Label1" runat="server" style="text-align: right" Text="Adınız :"></asp:Label>
                 </td>
                 <td class="auto-style22">
                     <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                 </td>
             </tr>
             <tr>
                 <td class="auto-style23">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <asp:Label ID="Label2" runat="server" Text="Soyadınız :"></asp:Label>
                 </td>
                 <td class="auto-style22">
                     <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                 </td>
             </tr>
             <tr>
                 <td class="auto-style23">
                     <asp:Label ID="Label3" runat="server" Text="Kullanıcı Adı :"></asp:Label>
                 </td>
                 <td class="auto-style22">
                     <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                 </td>
             </tr>
             <tr>
                 <td class="auto-style23">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <asp:Label ID="Label4" runat="server" Text="Şifre :"></asp:Label>
                 </td>
                 <td class="auto-style22">
                     <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
                 </td>
             </tr>
             <tr>
                 <td class="auto-style23">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <asp:Label ID="Label5" runat="server" Text="Cinsiyet :"></asp:Label>
                 </td>
                 <td class="auto-style22">
                     <asp:RadioButton ID="RadioButton1" runat="server" Text="K" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <asp:RadioButton ID="RadioButton2" runat="server" Text="E" OnCheckedChanged="RadioButton2_CheckedChanged" />
                 </td>
             </tr>
             <tr>
                 <td class="auto-style24"></td>
                 <td class="auto-style25">
                     <asp:Button ID="Button1" runat="server" Text="Kayıt" />
    
         <strong style="font-size: 20px"><span class="auto-style6">&nbsp;
                     <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Anasayfa" />
                     </span></strong>
                 </td>
             </tr>
         </table>
                    </span></strong>
                    <br />
        <table align="center" class="auto-style9">
            </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr >
                <td class="auto-style13" colspan="2">&nbsp;</td>
            </tr>
        </table>
        
         <strong style="font-size: 20px"><span class="auto-style6">&nbsp; </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="auto-style7">&nbsp;&nbsp; </span><span class="auto-style6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
         <br />
         <br />
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong>
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
    
    </div>
    </form>
</body>
</html>